<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>WorldCook利用規約</p>
  </div>
  <%= image_tag "sara.jpeg", class:"second-fotter-logo"%>
</footer>